@page "/editRecurringTransaction"
@using Data.Entities
@using Pages.Util

@inject Data.Services.RecurringTransactionService MR_RecTranService
@inject IDialogService DialogService

<PageTitle>Mann's Money Management - Recurring Transactions</PageTitle>

@if (recurringTransactions == null)
{
    <p><em>Loading...</em></p>
}
else if (recurringTransactions.Count == 0)
{
    // Probably a new setup, begin guided setup
    <p><em>No items found</em></p>
}
else
{

    <MudDataGrid Items="@recurringTransactions" T="Data.Entities.RecurringTransaction"
                 Filterable="false" SortMode="@SortMode.None" Groupable="false"
                 RowClick="@OnRowClick">
        <ToolBarContent>
            <MudButton Color="Color.Primary" OnClick="AddRecurringTransaction">Add Recurring Transaction</MudButton>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x!.Name" />
            <PropertyColumn Property="x => x!.TransactionType" />
            <TemplateColumn Title="Bill Group">
                <CellTemplate>
                    @if(context.Item.Group != null)
                    {
                        @context.Item.Group.Name
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.FrequencyString" />
            <PropertyColumn Property="x => x.NextDueDate" Title="Next Due" >
                <CellTemplate>
                    @context.Item.NextDueDate?.ToString("d")
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.Notes" />
            <PropertyColumn Property="x => x!.Amount" Format="C" />
            <TemplateColumn Title="Categories">
                <CellTemplate>
                    @if (context.Item.Categories.Count() > 0)
                    {
                        @foreach (var cat in context.Item.Categories.OrderBy(x => x.Name))
                        {
                            @cat.Name

                            if (cat.Id != context.Item.Categories.OrderBy(x => x.Name).Last().Id)
                            {
                                <text>, &nbsp;</text>
                            }
                        }
                    }
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

@code {
    private List<Data.Entities.RecurringTransaction> recurringTransactions;

    protected override async Task OnInitializedAsync()
    {
        recurringTransactions = await MR_RecTranService.GetAllRecurringTransactionsAsync();
    }

    private async void OnRowClick(DataGridRowClickEventArgs<Data.Entities.RecurringTransaction> item)
    {
        // Use Dialog
        // https://www.mudblazor.com/components/dialog#passing-data

        // categories?
        var result = await DialogUtil.ShowAccountDialogAsync(DialogService, false, item.Item);
        if(!result.Canceled)
        {
            RecurringTransaction newItem = result.Data as RecurringTransaction ?? throw new NullReferenceException("RecurringTransaction Data returned null. This shouldn't happen.");
            if(newItem!.DeletedOnUTC.HasValue)
            {
                // remove it from the list
                recurringTransactions.Remove(item.Item);

            } else
            {
                // Update it
            }
        }

        this.StateHasChanged();
    }

    private async Task AddRecurringTransaction()
    {
        var result = await DialogUtil.ShowAccountDialogAsync(DialogService, true, new RecurringTransaction());
        if (!result.Canceled)
        {
            RecurringTransaction newItem = result.Data as RecurringTransaction ?? throw new NullReferenceException("RecurringTransaction Data returned null. This shouldn't happen.");
            // Add the item

            recurringTransactions.Add(newItem);
        }

        this.StateHasChanged();
    }
}
